body {
    background-color: #f6f7f2;
}
body h1,
body h5,
body h3,
body h2 {
    font-family: "Poppins", sans-serif;
}

body h2 {
    font-weight: 700;
    color: #1a1c1a;
}

body h3 {
    font-size: 16px;
    color: #58697e;
}

body p {
    font-family: "Inter", sans-serif;
    color: #696969;
}

.nav-link p {
    font-size: 18px;
}

.navbar-brand h1 {
    font-size: 30px;
    color: #1B263B;
    font-weight: 600;
}

.btn.btn-custom {
    background-color: #1E293B;
    color: white;
}

.btn.btn-popular {
    background-color:#f2f2f2;
    color: #1E293B;
}

.nav-custom {
    background-color: #E0E1DD
}

.nav-link p {
    color: #1B263B;
}

.nav-link p:hover {
    color: #415A77;
}

/* overlay escuro */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.bg-custom-light {
    background-color: #b6d0f1;
    color: #000; /* ajuste se precisar */
}

.underline-custom {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.card-body p {
    font-weight: 600;
    color: #000000;
}

.card-body .headline-preco {
    font-size: 15px;
    color: #000000;
}

.card-body .preco {
    font-weight: bold;
    color: #000000;
    font-size: 22px;
}

.btn-custom {
    background-color: #000000;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card-body .card-text {
    color: #778ca5;
}

ul {
    list-style: none;
    padding-left: 0;
}

.card-body .text-plano {
    color: #000000;
}

.card-popular-custom {
    background-color: #101b30;
}

.text-popular,
.card-body .text-popular {
    color: #f2f2f2;
}
